<div class="navbar">
    <div class="country">
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"></p-dropdown>
        <!-- {{ data.country }} -->
    </div>
    <div class="date">
        {{ data.date }}
    </div>
    <div class="calendar">
        <p-calendar [(ngModel)]="selectedDate" dateFormat="dd/mm/yy"></p-calendar>
    </div>
</div>
<div class="emotion">
    <img src="assets/excited.gif" alt="">
</div>
<div class="polarity">
    Polarity: {{ data.polarity }}
</div>